body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    margin: 0; 
    background-color: #F59B4C;
    border-bottom: 2px solid #ccc;
}

.logo-quote {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    padding: 10px 20px;
}

.quote {
    
    font-style: italic;
    font-size: 2em;
    color: #3b3939;
    /* padding-right: 30%; */
    padding-left: 20px;
}

nav {
    margin-top: 10px;
    border-top: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    
}

.nav-links {
    list-style: none;
    padding: 10px 50px;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: #F59B4C; 
    background-color: #333; 
    padding: 20px; 
    border-radius: 5px;
}


.banner-image {
    width: 100%;
    max-height: 45em;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0;
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 2s ease-out, transform 2s ease-out; 
}

.banner-image.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.content {
    padding: 20px;
    opacity: 0; 
    transform: translateY(100px);
    transition: opacity 2s ease-out, transform 2s ease-out; 
}

.content.visible {
    opacity: 1;
    transform: translateY(0); 
}

.text-image,
.image-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text-image p {
    flex: 1;
    margin-right: 20px;
}

.text-image .right-image {
    /* width: 300px; */
    width: 25%;
    min-width: 175px;
    height: auto;
}

.image-text img {
    width: 25%;
    min-width: 200px;
    height: auto;
    margin-right: 20px;
}

.image-text p {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.footer-left {
    font-size: 0.9em;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
       
    
}

.footer-right a:hover {
    text-decoration: underline;
}