@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #2D3142;
    --secondary-color: #4F5D75;
    --accent-color: #EF8354;
    --background-color: #f3e9df;
    --text-color: #BFC0C0;
    --muted-text-color: #BFC0C0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center; /* Adjust alignment as needed */
}

/* -------------Accessibility options---------*/
.skiptocontent {
    position: absolute;
    left: -9999px;
}       
.skiptocontent a:focus {
    position: static;
    left: 0;
    color: violet;
    text-decoration: none;
}
/* ------------------------------------------- */

/* formatting and styling */
/* Increase the size of the title, center it, and add padding */
h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 20px 0;
    color: var(--primary-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    padding: 0;
}

/* Adds lines above and below the navigation element */
nav {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    padding-right: 40px;
}

nav a {
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    color: darkred; 
}


/* ---------------Book Info (left side) --------- */
/* Add border to the container holding the list of details and filters */
#book-info {
    text-align: right;
    padding: 10px;
    line-height: 1.2;
    border-right: 1px solid var(--accent-color);
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 25px;
}
/* ----------------------------------------- */

/*-------------- Book list  ---------------- */
#book-list {
    padding-left: 20px;
    padding-right: 20px; 
}
#book-list ul {
    color: var(--secondary-color);
    list-style-type: none;
    padding: 0;
    margin: -10%;
    text-align: center;
}
#book-list h2 {
    text-align: center;
    padding-top: 30px;
}
#book-list h3 {
    margin-top: 70px;
}
/* Center the image of the book cover and limits it's size */
#book-list img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    min-width: 250px;
}

/* --------------------------------------------- */


/* ---------------Filters (right side)---------- */
#filters {
    border-left: 1px solid var(--accent-color);
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 25px;
}
form select {
    display: block;
    width: 115px;
    margin-bottom: 10px;
}



/* --------------------------------------------- */